*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container{
    max-width: 1600px;
    padding: 16px 120px;
}
.navbar{
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 60px;
    width: 139px;
    padding: 16px 0;
    font-family: "Inter", sans-serif;
}
.logo img{
     height: 36px; 
} 
.menu{
   padding: 34px 0;
}
.menu ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
}
.menu ul li a{
    text-decoration: none;
    color: #000; 
    font-size: 16px;
    font-weight: 500;
}
.button-content{
    padding: 24px 0;
}
.btn{
    padding: 12px 16px;
    border: none;
    background: #469165;
    border-radius: 4px;
    color: #FFF;
    font-size:16px ;
    font-weight: 600;
}
.hero-container{
    max-width: 1600px;
    background-image: url(./assets/hero-bg.png);
    padding: 115px 120px 179px;
     margin: 0 auto; 
}
.hero-content{
    max-width: 1360px;
     width: 85%; 
     margin: 0 auto; 
    text-align: center;
}
.head button{
    background: #FFF;
    border-radius: 1000px;
    padding: 8px 12px;
    border: none;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}
.head h1{
    color: #469165;
    font-size: 72px;
    line-height: 84px;
}
.head h1 span{
    color: #FFF;
}
.head p{
    font-size: 18px;
    line-height: 24px;
    color: #FFF;
    text-align: center;
    margin-bottom: 32px;
}
.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.btn-container .btn-b{
    background: transparent;
    padding: 8px 12px;
    color: #FFF;
    border: 1px solid rgb(216, 214, 214);
    border-radius: 4px;
}
.notes-container{
    max-width: 1600px;
    padding: 0 120px ;
    margin: 0 auto;
      
}
.title{
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 44px;
}
.title h2{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}
.title p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 16px;
}
.card-container{
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex: 1;
    align-items: stretch; 
    gap: 24px;
}
.card{
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
    text-align: center;
    height: 100%;
    flex-grow: 1;
   

}
.card img{
    background-color:#F95555 ;
    border-radius: 50%;
    padding: 14px;
    margin-bottom: 16px;

}
.card h3{
    font-size: 24px;
    font-weight: 600px;
    color: #001931;
    margin-bottom: 16px;
}
.card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;

}
